@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.scroll-container {
  width: 400vw;
  display: flex;
}

.background-transition {
  transition: background 0.5s ease;
  height: 100%;
  width: 100%;
}

.project-container {
  overflow-x: hidden;
  overflow-y: hidden; /* Ensure no vertical scroll happens */
}

.project-inner-container {
  display: flex;
  gap: 10vw; /* Maintains spacing between project cards */
  transition: transform 0.3s ease-out; /* Smoother transitions */
}
