@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.scroll-container {
  width: 400vw;
  display: flex;
}

.background-transition {
  transition: background 0.5s ease;
  height: 100%;
  width: 100%;
}
.project-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: scroll; /* Allow horizontal scrolling for touch devices */
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS */
  scroll-snap-type: x mandatory; /* Snaps to cards on scroll */
}

.project-inner-container {
  display: flex;
  gap: 10vw; /* Space between cards */
  scroll-snap-align: center; /* Align cards at center */
  width: max-content; /* Ensure the container is wide enough */
}
